/*Global styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 3.7rem;
}
h2 {
  font-size: 3.3rem;
}
h3 {
  font-size: 3rem;
}
h4,
h5,
h6 {
  font-size: 2.7rem;
}
button,
label,
p,
a {
  font-size: 2rem;
}
a {
  color: white;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
}

/*Nav and HERO*/

.main-head {
  background: #131c27;
  color: white;
  min-height: 10rem;
  display: flex;
}
.nav-bar {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.nav-logo {
  font-family: "Pattaya", sans-serif;
  display: flex;
  flex: 1 1 40rem;
  font-size: 2.7rem;
  font-weight: 100;
}
.nav-bar ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-evenly;
  align-items: center;
}
.hero-section {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(./img/landing-page.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-section h1,
.hero-section h2 {
  text-shadow: 2px 2px 12px black;
  color: white;
}
.hero-section h2 {
  font-weight: lighter;
  margin: 2%;
}
.hero-btn {
  background: #4c6e97;
  color: white;
  border-style: none;
  padding: 1.8rem 5rem;
  transition: background 0.3s ease-in-out;
}
.hero-btn:hover {
  background: #27394e;
}
/*Locations Section*/
.locations-section {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(./img/new-york-page.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.locations-div {
  width: 90%;
  margin: auto;
}
.locations-div h2 {
  text-decoration: underline;
  font-size: 4rem;
  font-weight: bold;
  padding-bottom: 2rem;
  text-decoration-thickness: 0.4rem;
}
.locations-div h3 {
  font-weight: 100;
  padding-top: 1.5rem;
  background: linear-gradient(#131c27, #663b24);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cloud {
  position: absolute;
  height: 50rem;
  top: 0%;
  right: 0%;
}
.moving-cloud-1 {
  animation: cloudsAnimation 3s infinite alternate ease-in-out;
}
.moving-cloud-2 {
  top: 20%;
  height: 40rem;
  z-index: -1;
  opacity: 0.5;
  animation: cloudsAnimation 4s infinite alternate ease-in-out;
}
@keyframes cloudsAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
/*Beneficts Section*/
.beneficts-head {
  background: #343c44;
  padding: 3rem;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.beneficts-head h3 {
  font-size: 2.5rem;
  font-weight: 100;
  padding: 1rem;
}
.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  text-align: center;
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}
.cards img {
  max-width: 15%;
  margin: 2rem;
}
.card h4 {
  padding: 1rem;
}
.card p {
  padding: 1rem;
}
.card-icon {
  background: #27394e;
}

/*Media Querys*/
@media screen and (max-width: 924px) {
  html {
    font-size: 50%;
  }
  .moving-cloud-1 {
    animation: cloudsAnimation 3s infinite alternate ease-in-out;
    height: 45rem;
  }
  .moving-cloud-2 {
    top: 15%;
    height: 30rem;
    z-index: -1;
    opacity: 0.5;
    animation: cloudsAnimation 4s infinite alternate ease-in-out;
  }
}
@media screen and (max-width: 710px) {
  html {
    font-size: 50%;
  }
  .nav-logo {
    justify-content: center;
    margin-top: 0.5rem;
  }
  .nav-bar ul {
    padding: 2rem;
  }
  .locations-div h3 {
    font-weight: 100;
    padding-top: 1.5rem;
    background: rgba(19, 28, 39, 0.8);
    -webkit-text-fill-color: white;
    padding: 5%;
  }
}
/*Iphone 7/8*/
@media screen and (max-width: 375px) {
  .moving-cloud-1 {
    animation: cloudsAnimation 3s infinite alternate ease-in-out;
    height: 35rem;
  }
  .moving-cloud-2 {
    top: 15%;
    height: 20rem;
    z-index: -1;
    opacity: 0.5;
    animation: cloudsAnimation 4s infinite alternate ease-in-out;
  }
  .locations-div h3 {
    font-weight: 100;
    padding-top: 1.5rem;
    background: rgba(19, 28, 39, 0.8);
    -webkit-text-fill-color: white;
    padding: 5%;
  }
}
/*Example:Iphone 5/5se or old devices*/
@media screen and (max-width: 320px) {
  .moving-cloud-1 {
    animation: cloudsAnimation 3s infinite alternate ease-in-out;
    height: 27rem;
  }
  .moving-cloud-2 {
    top: 15%;
    height: 12rem;
    z-index: -1;
    opacity: 0.5;
    animation: cloudsAnimation 4s infinite alternate ease-in-out;
  }
  .locations-div h3 {
    font-weight: 100;
    padding-top: 1.5rem;
    background: rgba(19, 28, 39, 0.8);
    -webkit-text-fill-color: white;
    padding: 5%;
  }
}
