/*Form Section and Footer*/

.form-section {
  min-height: 92vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(../img/contact-mountain.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-wrapper {
  background: rgba(18, 28, 39, 0.8);
  color: white;
  border-radius: 20px;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  button {
    background: #4c6e97;
    color: white;
    border-style: none;
    padding: 2rem;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 5rem;
    cursor: pointer;
  }
}
.form-head {
  display: flex;
  justify-content: center;
  padding: 4rem 7rem;
}

.form-email,
.form-name {
  padding: 3rem 15rem;
  label {
    padding: 1rem 2rem;
  }
  input {
    padding: 0.6rem;
  }
}

.footer-wrapper {
  min-height: 8vh;
  background: #131c27;
  color: white;
  display: flex;
  flex-wrap: wrap;
  h5 {
    flex: 3 1 40rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
  }
  ul {
    flex: 1 1 40rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
button:focus {
  background: #263b55;
  outline-style: solid;
  outline-color: #5f8cc2;
}
