/*Animations*/

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes plant-entrance {
  from {
    transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  }
  to {
    transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}
@keyframes plant-shake {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
.burger {
  display: none;
}
@media screen and (max-width: 842px) {
  .hero {
    width: 100%;
  }
  .hero-introduction {
    padding: 5rem 3rem;
  }
  /*Burger nav*/
  .burger {
    display: block;
    position: relative;
    cursor: pointer;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: var(--gray-text);
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }
  .nav-links a {
    color: white;
    font-size: var(--header3);
    text-decoration: underline;
  }
  .nav-links {
    background: var(--background-color);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
  }

  .nav-open {
    transform: translate(-100%);
  }
  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background: white;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: white;
  }

  /*About Section*/
  .about-text div {
    padding: 3rem 3rem;
  }
  /*Gallery*/
  .gallery img {
    grid-row: auto;
    grid-column: auto;
  }
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
  .gallery-text {
    display: none;
  }
  .contact img {
    display: none;
  }
  .footer ul {
    order: 1;
  }
  footer h4 {
    font-size: 2rem;
    order: 2;
    text-align: center;
    padding: 1rem;
  }
  .hero-introduction p {
    padding: 3rem 3rem;
    color: var(--gray-text);
  }
}
@media screen and (min-width: 1700px) {
  html {
    --header1: 3rem;
    --header2: 5rem;
    --header3: 4rem;
    --header4: 3rem;
    --text: 3rem;
    --big: 8rem;
  }
}
@media screen and (max-width: 434px) {
  .about-img h5 {
    font-size: 3.5rem;
  }
  .hero-introduction p {
    padding: 3rem 3rem;
    color: var(--gray-text);
  }
}
@media screen and (max-width: 320px) {
  html {
    --header1: calc(1.6rem + 1vw);
    --header2: calc(3.1rem + 1vw);
    --header3: calc(2.6rem + 1vw);
    --header4: calc(2rem + 1vw);
    --text: calc(1.1rem + 1vw);
    --big: calc(5.6rem + 1vw);
  }
  .hero-introduction p {
    padding: 3rem 3rem;
    color: var(--gray-text);
  }
}
