/*Footer*/

footer {
  background: var(--background-color);
  color: white;
  display: flex;
  padding: 3rem 5%;
  align-items: center;
  flex-wrap: wrap;
}
footer ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}
footer h4 {
  flex: 3 1 40rem;
  font-size: 2rem;
}
